.container {
  /* HEADER */
  .header {
    height: 25%;
    // Logo
    .logo {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }

  /* CONTENT */
  .content {
    height: 60%;
    justify-content: center;
    align-items: center;

    // New game button
    .new-game-btn {
      width: 60%;
      font-size: 2em;
    }
  }

  /* FOOTER */
  .footer {
    // User button
    .user-btn {
      font-size: 0.55em;
    }
  }
}
